@model AR_IS.ViewModel.ReportsVM
@{
    ViewBag.Title = "IndexX";
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            @*<a href="@Url.Action("Index","Category")" class="btn btn-primary offset-lg-10"><i class="fa fa-list"></i> Categories</a>*@
            <div id="mydiv" class="col-md-3">
                <p class="text-center bg-success">@TempData["Reg"]</p>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><u><b>Purchase Summary </b></u></h5>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("Search", "PurchaseSummary", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4">
                                <label>Start Date</label>
                                <input type="date" name="Sdate" value="" id="Date" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>End Date</label>
                                <input type="date" name="Edate" id="Date1" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label><b>Select Supplier</b></label>
                                @Html.DropDownListFor(m => m.Supplier.AccountNo, new SelectList(Model.Supp_list, "AccountNo", "Name"), "Select Supplier", htmlAttributes: new { @class = "form-control input-xs chosen-select" })
                            </div>
                            <br />
                            <div class="col-md-3 offset-sm-10">
                                <button type="submit" class="btn btn-primary " style="margin-top:30px"><i class="fa fa-search"></i>&nbsp; Search</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.chosen-select').chosen();
    $(document).ready(function () {
        var now = new Date();
        var month = (now.getMonth() + 1);
        var day = now.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;

        $('#Date').val(today);
        $('#Date1').val(today);
    });

</script>













