@model AR_IS.ViewModel.LoginVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMS</title>
    <link rel="stylesheet" href="~/Content/login/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Content/login/css/style.css">
    <meta name="robots" content="noindex, follow">
</head>
<body>
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/Content/login/images/signin-image.jpg" alt="sing up image"></figure>
                    </div>
                    <div class="signin-form">
                        <h3 class="form-title">Forgot Password</h3>
                        @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login100-form validate-form p-l-55 p-r-55 p-t-178" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-email"></i></label>
                                <input class="form-control" name="UserName" required  placeholder="Email"  autocomplete="off" />
                                @*@Html.TextBoxFor(m => m.GeneralUser.UserName, new { @class = "form-control thresold-i", @placeholder = "Email", @required = "required", @autocomplete = "off", })*@
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Get Rest Link" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="../../../../static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"65b0b8476cdd7ab6","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.5.2","si":10}'></script>
</body>

</html>



